APP_TITLE=Guacamole Wrapper API
DATABASE_URL=postgresql+asyncpg://guacadmin:password@localhost:5432/wrapper_db
SQLALCHEMY_ECHO=true

GUACAMOLE_BASE_URL=http://localhost:8080/guacamole/api
GUACAMOLE_DATA_SOURCE=postgresql
GUACAMOLE_USERNAME=your-username
GUACAMOLE_PASSWORD=your-password
GUACAMOLE_NEW_USER_PASSWORD=changeme
GUACAMOLE_SSH_USERNAME=ubuntu
GUACAMOLE_SSH_PORT=22
